# TITLE PAGE
# --------------------------------------------- #
snippet tad "title page inforamtion" 
\title{${1:Title text}}
\author{${2:Author names and addresses}}
\date{${3:Date text}}
\maketitle
$0
endsnippet
# --------------------------------------------- #

 
